<h1 class="hone">Edit Profile</h1>
<br>
<div class="container">
	 <%= form_for current_user, url: profile_path(current_user.id), html: { method: :put }, action: :update do |f| %>
		<div>
			<h3><%= f.label "About Me" %></h3>
			<%= f.text_area :about, size: "49x3", required: true %>
			<%= f.submit "Save",  class: "profile-btn btn" %>
		</div>
	<% end %>
</div>
<br><br>
<div class="container">
	<h3>Original Memes</h3>
	<% current_user.posts.each do |post| %>
		<div class="card border-primary mb-3">
		  	<div class="card-header">
		  		<span><%= post.created_at.strftime("%d %B %l:%M %p") %></span>
		  	</div>
		  	<div class="card-body">
		  		<div class="card-img">
		  			<%= image_tag url_for(post.image) %>
		  		</div>
		  		<br>
		    	<p class="card-text">
		    		<span class="description"> <%= post.description %> </span>
				</p>
		  	</div>
		  	<div class="card-footer">
				<%= link_to "Edit Post", edit_post_path(@post) %>
				<%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "float-right" %>
			</div>
		</div>
	<% end %>
</div>