<h1 class="heading">All Memes</h1>

<div class="container p-0">
	<% @posts.each do |x| %>
		<div class="card border-primary mb-3 mx-1">
		  	<div class="card-header">
		  		<span> by <span class="blue"><%= x.user.name %></span> 
		  		<br>on <%= x.created_at.strftime("%d %B %l:%M %p") %>
		  		<% if current_user.voted_for? x %>
	  				<%= link_to dislike_like_path(x), method: :put, class: "float-right like" do %>
			  			<i class="fas fa-heart"></i>
	  					<%= x.get_upvotes.size %>
					<% end %>
	  			<% else %>
	  				<%= link_to like_like_path(x), method: :put, class: "float-right like" do %>
			  			<i class="far fa-heart"></i> 	
	  					<%= x.get_upvotes.size %>
					<% end %>
				<% end %>

		  		</span>
		  	</div>
		  	<div class="card-body">
		  		<div class="card-img">
		  			<%= link_to image_tag(x.image.url), post_path(:id => x.id) %>
		  		</div>
		    	<p class="card-text">
		    		<span class="description"> <%= x.description %> </span>
				</p>
				<p class="card-text font-italic category">
					Category: <%= x.category %>
				</p>
				<% if x.user_id == current_user.id%>
					<div class="card-footer">
						<%= link_to "Edit Post", edit_post_path(x) %>
						<%= link_to "Delete Post", post_path(x), method: :delete, data: {confirm: "Are you sure?"}, class: "float-right" %>
					</div>
				<% end %>
		  	</div>
		</div>
	<% end %>
</div>