<h1>All Posts</h1>

<%= @posts.each do |x| %>
	<div class="card border-primary mb-3" style="max-width: 20rem;">
	  	<div class="card-header">
	  		<span> by <%= x.name %> </span>
	  		<br>
			<span> on <%= x.created_at %></span>
	  	</div>
	  	<div class="card-body">
	    	<h4 class="card-title">Primary card title</h4>
	    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  	</div>
	</div>
	<div class="post">
		<%= image_tag url_for(x.image) %>
		<%= x.description %>

		<% if x.user_id == current_user.id %>
			<%= link_to "Edit Post", edit_post_path(x) %>
			<%= link_to "Delete Post", post_path(x), method: :delete, data: {confirm: "Are you sure?"} %>
		<% end %>
	</div>
<% end %>