<h1 class="heading">M3me</h1>

<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this pet from being saved:</h2>
 
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container show">
	<div class="card border-primary mb-3">
		  	<div class="card-header">
		  		<span> by <span class="blue"><%= @post.user.name %></span> </span>
		  		<br>
				<span> on <%= @post.created_at.strftime("%d %B %l:%M %p") %></span>
		  	</div>
		  	<div class="card-body">
		  		<div class="card-img">
		  			<%= image_tag @post.image %>
		  		</div>
		    	<p class="card-text">
		    		<span class="description"> <%= @post.description %> </span>
				</p>
				<p class="card-text font-italic category">
					Category: <%= @post.category %>
				</p>
				<% if can? :manage, @post %>
					<div class="card-footer">
						<%= link_to "Edit Post", edit_post_path(@post) %>
						<%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "float-right" %>
					</div>
				<% end %>
		  	</div>
		</div>
</div>