<!DOCTYPE html>
<html>
  <head>
    <title>Ssd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <% begin %>
      <%= stylesheet_link_tag params[:controller] %>
    <% rescue %>
    <% end %>

    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" role="navigation">
      <a class="navbar-brand" href="/">Memeconomy</a>
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item <%= 'active' if (params[:controller] == 'posts' && params[:action] == 'index') %>"> <a href="/posts" class="nav-link"> Browse </a></li>
          <% if current_user.role != 'admin' %>
            <li class="nav-item <%= 'active' if params[:controller] == 'posts' && params[:action] == 'new' %>"> 
              <%= link_to "New Meme", new_post_path, class: "nav-link" %> 
            </li>
            <% else %>
              <li>
              <%= link_to "Admin", admin_index_path, class:"nav-link" %>
              </li>
          <% end %>
          
        <% else %>
          <li class="nav-item <%= 'active' if params[:controller] == 'devise/sessions' && params[:action] == 'new' %>"> <a href="/users/sign_in" class="nav-link"> Sign In </a></li>
          <li class="nav-item <%= 'active' if params[:controller] == 'devise/registrations' && params[:action] == 'new' %>"> <a href="/users/sign_up" class="nav-link"> Sign Up </a></li>
        <% end %>
      </ul>
      <ul style="float: right;" class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :get, class: "nav-link" %>        
          <% else %>
          <% end %>
        </li>
      </ul>
    </nav>

    <!-- uses bootstrap to produce a message of your choice -->
    <% flash.each do |a, b| %> 
      <div class="alert alert-success"> <%= b %> </div>
    <% end %>

    <div class="row">

    <%= yield %>

</div>
  </body>
</html>
